

.top {
    width: 100%;
    height: 50px;
    background-color:rgb(240, 238, 238);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.topLeft, .topRight {
    flex: 3;
   
}

.topCentre {
    flex: 6;
  
}